
header {
position: relative;
top: 0px;  
height: 40px;
background-color: #222222;
color: white;
}

span {
  font-size: larger;
  font-family: sans-serif;
}

#home{
  position: absolute;
  top: 10px;
  left: 100px;
  margin-left: 5px;
}
#login{
  position: absolute;
  top: 10px;
  left: 170px;
  margin-left: 5px;
}
#textbox{
  position: absolute;
  top: 10px;
  left: 500px;
  margin-left: 5px;
}
#searchButton{
  position: absolute;
  top: 10px;
  left: 700px;
  margin-left: 5px;
}
#backtoresults{
  background-color: dimgray;
  height:30px;
  text-align: left;
  color: rgb(212, 184, 24);
  padding-top: 10px;
}

#loginButton {
  background-color: royalblue;
  color:white;
  border-radius: 3px;
  font-size: small;
  text-align: center;
}

.form {
  width: 100%;
  text-align: center;
}

.labels {
  text-align: left;
}